{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    {% for types,messages in app.flashes %}
        <div class="alert alert-{{types}}">
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>
    {% endfor %}
    
    {% set total = 0 %}
    {% for produit in contenuePanier %}
        <div class="card" style="width: 18rem;">
            {% for product in produit.Produit %}
                <p>{{ product.nom }} : Quantite {{ produit.Quantite }} pour {{product.Prix}}$ / totale :{{produit.Quantite * product.Prix}} $</p>
                {% if show != 1 %}
                    <a href="{{ path('app_panier_remove', {'id': produit.id}) }}">{{'Product.Delete'|trans}}</a>
                {% endif %}
                {% set total = total + produit.Quantite * product.Prix %}
            {% endfor %}
        </div>
    {% endfor %}
    <p>total : {{ total }} $</p>
    {% if (show!=1  and total > 0)%}
        <a href="{{ path('app_stripe',{'somme': total}) }}">{{'Cart.Payement'|trans}}</a>
    {% else %}
        <p>Votre Panier est vide !</p>
        <p>Veuillez ajouter des produits</p> 
        
    {% endif %}
</div>
{% endblock %}
