{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    {% set total = 0 %}
    {% for produit in contenuePanier %}
        <div class="card" style="width: 18rem;">
            {% for product in produit.Produit %}
                <p>{{ product.nom }} : Quantite {{ produit.Quantite }} pour {{product.Prix}}$ / totale :{{produit.Quantite * product.Prix}} $</p>
                {% if show != 1 %}
                    <a href="{{ path('app_panier_remove', {'id': produit.id}) }}">Supprimer</a>
                {% endif %}
                {% set total = total + produit.Quantite * product.Prix %}
            {% endfor %}
        </div>
    {% endfor %}
    <p>totale : {{ total }} $</p>
    {% if show!=1 %}
        <a href="{{ path('app_stripe') }}">Payer</a>
    {% endif %}
</div>
{% endblock %}
