{% extends 'base.html.twig' %}

{% block body %}


<div class="example-wrapper">
    <h1>{{ product.nom}} </h1>
    <div class="container">
            <div class="card-body">
                <p> Quantité : {{ product.Stock}}</p>
                <p> Prix : {{ product.prix }} €</p>

                <p class="card-text">{{ product.description }}</p>
                <img src="{{asset('/uploads/'~ product.photo)}}" style="max-width:100px;">
                
                {# if user connecte #}
                {% if (is_granted('IS_AUTHENTICATED_FULLY') and product.Stock > 0)%}
                    {{form(formAjouteProduit)}}
                {% endif %}
            </div>
            <div>
            </div>
            

    </div>
    {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')) %}
        {{form(form)}}

        <form action="{{ path('app_delete_produit', {'id': product.id}) }}">
            <button class="btn btn-danger" type="submit">{{'Product.Delete'|trans}}</button>
        </form>

    {% endif %}
</div>

{% endblock %}