{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
    <h1>Profil</h1>
    <p>Nom : {{ user.nom }}</p>
    <p>Prénom : {{ user.prenom }}</p>
    <p>email : {{ user.email }}</p>

</div>

<div class="container">
    {{form(form)}}
</div>

<div >
    
    {% for panier in historique %}
        {% if panier.Etat == 1 %}      
        <div class="container">
            <p> {{ panier.DateAchat|date('d/m/Y h:m:i') }} </p>
            <p> {{ panier.id }} </p>
                {% set total = 0 %}
                {% for x in contenuePanier %}
                    {% for contenue in x %}
                        {% if contenue.panier.id == panier.id %}
                            {% for product in contenue.Produit %}
                                {% set total = total + contenue.Quantite * product.Prix %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <p> total:  {{ total }} </p>
            </div>
            <a href="{{ path('app_panier_historique', {'id': panier.id}) }}">voir le panier</a>
        {% endif %}
    {% endfor %}

</div> 
{% endblock %}
